<% @posts.each do |p|%>

<div class="panel callout radius" align="center">
	<p align="left"><%= p.created_at %></p>
  	<p><%= image_tag p.photo %></p>
  	<h3 align="left">Description</h3>
  	<p><%= p.discription %></p>
  	<h3 align="right">Post By</h3>
  	<p align="right"><%= image_tag  @users.find_by(email: p.email).avatar, :width=>"80", :height=>"80" %></p>
  	<p align="right"><%= p.email %></p>
  	
  	
</div>



<% end%>

